<div style="position: relative;">
    <div class="px-6 py-10 text-center bg-[#f4ece6] text-black">
        <h1 class="mb-6 text-5xl font-bold">Elodie Guyard</h1>
        <h2 class="mb-6 text-3xl font-bold">Conceptrice développeuse d'applications</h2>
        <h3 class="mb-6 text-3xl font-bold">Site Web en construction</h3>
        <h3 class="mb-6 text-1xl">Dernier update : 25/02/2025</h3>
    </div>

    <div style="position: absolute; bottom: 5px; right: 10px;">
        <ul class="">
            <li class="">
                <a href="{{contactGithub}}" target="_blank" class="gap-3 py-3">
                <img src="../../assets/github_logo.png" alt="github's logo" class="w-[36px]">
                </a>
            </li>
            <li class="">
                <a href="{{contactLinkedIn}}" target="_blank" class="gap-3 py-3">
                <img src="../../assets/Linkedin.png" alt="linkedin's logo" class="w-[36px]">
                </a>
            </li>
        </ul>
    </div>
</div>
