.navBackground {
    color: var(--text-color);
}

nav {
    box-sizing: border-box;
    border-style: solid;
    border-color: var(--accent-color);
    border-width: 0px 0px 1px 0px;
    opacity: 1;
    backdrop-filter: blur(10px);
    background: linear-gradient(180deg, rgba(0,0,0,0) 6.64%, rgba(0, 0, 0, 0.1));
}
