<button (click)="generatePDF()">Generate PDF</button>
<div class="container" id="contentToConvert">
    <!-- Sidebar -->
    <aside class="sidebar">
        <h1>Elodie Guyard</h1>
        <h3>Conceptrice Développeuse d'Applications Full Stack</h3>
        <img src="./assets/portrait.jpg" style="border-radius:50%; width:80%; margin: 0 auto">
        <section>
            <h2>CONTACT</h2>
            <ul>
                <strong>
                <li><a href="mailto:elodie@example.com">guyard.elodie&#64;outlook.fr</a></li>
                <li>06 16 46 88 43</li>
                </strong>
                <p>
                    <a href="https://www.linkedin.com/in/%C3%A9lodie-guyard-219b01311/" target="_blank">LinkedIn</a>&nbsp;
                    <a href="https://github.com/ElodieGuyard" target="_blank">GitHub</a>&nbsp;
                    <a href="https://wip-portfolio-blue.vercel.app/home" target="_blank">Portfolio</a>
                </p>
            </ul>
        </section>
        
        <section class="toolsBox">
            <h3>Outils.exe</h3>
                <p>JAVA | SPRINGBOOT | ANGULAR | JS/TS | SQL | GIT | GITHUB | PHP | LAMP/WAMP | LINUX</p>     
        </section>

        <section class="toolsBox">
            <h3>SoftSkills.exe</h3>
            <ul>
                <li>Travail d'équipe, communication</li>
                <li>Positivité</li>
                <li>Organisation, rigueur</li>
                <li>Autonomie</li>
                <li>Créativité, curiosité</li>
                <li>Enquêtrice</li>
            </ul>
        </section>

        <section class="toolsBox">
            <h3>Methodo.exe</h3>
            <ul>
                <li>Méthodes agiles</li>
                <li>Stands-ups</li>
                <li>Pair & Mob programming</li>
                <li>Restitutions </li>
                <li>Rétrospectives</li>
            </ul>
        </section>
        
        <section class="toolsBox">
            <h3>Veille.exe</h3>
            <ul>
                <li>Accessibilité [a11y]</li>
                <li>Cyber Sécurité</li>
                <li>Bonnes pratiques de dev</li>
                <li>Veilles sur mes langages préférés</li>
            </ul>
        </section>
        
        <section class="toolsBox">
            <h3>INTERÊTS</h3>
            <ul>
                <li>Loisirs créatifs</li>
                <li>Vélo</li>
                <li>Sorties entre amis</li>
                <li>Jeux vidéos</li>
            </ul>
        </section>
        
    </aside>
    
    <!-- Main Content -->
    <main class="main">
        <section class="head">
            <h2>CONTRAT DE PROFESSIONNALISATION</h2>
            <h3>Durée : 12 mois - Rythme : 4 jours en entreprise / 1 jour sur le campus</h3>
            <h3></h3>
        </section>
        
        <hr>
        
        <section class="section">
            <h2>À PROPOS</h2>
            <p>La Tech faisant partie intégrante de ma vie, j'ai suivi logiquement un cursus dans l'électronique.
                Après avoir mené des projets aussi bien personnels que professionnels dans ce domaine, j'ai découvert ma véritable voie, la programmation.
                Je me spécialise donc aujourd'hui pour devenir votre développeuse, dans le cadre d'une alternance en contrat de professionnalisation pour ensuite contribuer de manière pérenne à vos projets.
            </p>
        </section>
        
        <hr>
        
        <section class="section">
            <h2>RÉALISATIONS</h2>

            <div class="containerHalf">
                <section>
                <h3>ADA TECH SCHOOL 2024 :</h3>
                <ul>
                    <li><strong>APPLICATION MOBILE (et web) Relo Dev</strong>
                        <br>
                        Projet collectif : Développement d'une application mobile permettant le ressencement et la visualisation des meilleurs spots de surfs du monde. Un formulaire permet d'ajouter ses propres spots. API REST sous Golang pour la gestion des données.
                        <br>
                        <em>Technos : Flutter, Golang, Android Studio, Genymotion | Durée : 4 semaines</em>.
                    </li>
                    <li><strong>POKEDEX</strong> Projet perso : Application affichant les données des Pokémons au forma JSON via une API REST. <em>Technos : Spring Boot, Java, HTML/CSS</em>.</li>
                    <li><strong>PLATEFORME DE VENTE DE MEUBLES</strong> projet collectif : Application web collaborative pour visualiser les stocks via requêtes SQL, ainsi que leurs descriptions et le prix. <em>Technos : Spring Boot, JPA, Angular, MySQL | Durée : 6 jours ouvrés</em>.</li>
                    <li><strong>DATAVIZ</strong> projet collectif : Construction d'une application web permettant la manipulation et visualisation de données via requêtes à des API. <em>Technos : HTML, CSS, JS | Durée : 7 jours ouvrés</em>.</li>
                </ul>
                </section>
                <section>
                <h3>AUTO-ENTREPRISE</h3>
                <ul>
                    <li><strong>2022 - POC APPLICATION MOBILE SSI FACILE</strong>
                        <br>
                        <strong>Besoin :</strong>  Établissement recevant du publique, le client souhaite que son personnel soit en mesure de gérer les événements courants de la centrale incendie 
                        <br>
                        <strong>Produit :</strong>  Application qui synthétise, décrit des données techniques (i.e codes erreurs de la centrale incendie, défaut sur un détecteur incendie) pour les rendres accessibles à tous. 
                        L'application explique comment résoudre les défauts/dérangements lié au SSI du site avec le plan où se trouve le problème. 
                        <em>Technos : Cordova, HTML, CSS, JS</em></li>
                    <li><strong>2015-2016 - R&D BOÎTIER DE TEST</strong>
                        <br>
                        <strong>Besoin :</strong> Le client souhaite acquérir un système lui permettant de tester des détecteurs de fumée installés dans des armoires électriques. Ils doivent être testés selon la norme  APSAD R7 annexe 11 de février 2014. 
                        <br>
                        <strong>Produit :</strong> Développement et fabrication du boîtier électronique
                        Programmation conditionnelle pour la gestion du menu et déclenchement des relais pour le départ des test chauds.
                        <em>Techno : Arduino C++.</em></li>
                </ul>
                </section>
            </div>
        </section>
        
        <hr>
        
        <section class="section">
            <h2>FORMATIONS</h2>
            <ul>
                <li><strong>2024-2026 : Titre RNCP Concepteur Développeur de niveau VI</strong></li>
                <p>Ada Tech School - École inclusive et innovante, apprentissage en codant, diversité & méthodes agiles</p>
                <li><strong>2014 : BTS Systèmes Électroniques</strong></li>
                <p>projet de groupe BTS : superviseur d'énergie à bord d'un bateau, partie transmission via GPRS des informations et alertes</p>
                <p>langage utilisé : Dynamic C avec microprocesseur Rabbit</p>
                <li><strong>2012 : Baccalauréat STI Génie Électronique</strong></li>
            </ul>
        </section>
        
        <hr>
        
        <section class="section">
            <h2>EXPÉRIENCES PROFESSIONNELLES</h2>
            <ul>
                <li><strong>2022 - 2023 : Monteuse câbleuse (faisceaux)</strong> : Travail en équipe, soudure,et sertissage</li>
                <li><strong>2021 - 2022 : Vérificatrice de moteurs de recherches (Auto-entreprise)</strong> Entraînement d'IA dans le but d'améliorer les résultats de moteurs de recherches, guideline en Anglais à respecter scrupuleusement.</li>
                <li><strong>2019 - 2021 : Monbteuse câbleuse (coaxial)</strong> : Travail en équipe, soudure et sertissage, respect des plans, autonomie et créativité dans la résolution des problèmes</li>
                <li><strong>2016 - 2018 : Vérificatrice de moteurs de recherches (Auto-entreprise)</strong> Entraînement d'IA dans le but d'améliorer les résultats de moteurs de recherches, guideline en Anglais à respecter scrupuleusement.</li>
                <li><strong>2015 - 2018 : Missions de protection incendie (Auto-entreprise)</strong> Modélisation 3D (solidWorks) et fabrication d'adaptateurs pour détecteurs multiponctuel (imprimante 3D)<li>
            </ul>
        </section>
    </main>
</div>