<div class="px-6 md:container md:mx-auto">
        <!-- about me-->
        <div class="mx-2 shadow-lg">
            <div class="homeCard">
                <h2 class="font-bold">À propos</h2>
                <div class="flex justify-center items-center">
                    <img src="./assets/istockphoto-1300845620-612x612.jpg" alt="profil picture" width="128" height="128" class="rounded-full">
            </div>
            <p class="mb-4 px-4">Bienvenue sur mon portfolio bac-à-sable. Ici, vous trouverez : une implémentation d'accessibilité avec les boutons dark-mode et contrastes élevés, mon CV dans l'onglet resume en html CSS (pas encore responsive, mais ça va arriver), un début de liste des projets réalisés ... A venir : le détail des projets réalisés, le détail des points d'accessibilité en production sur ce site, des ressources et du code pour apprendre à rendre votre site web accessible, et mes futurs amusements en front et back end</p>

            </div>
        </div>
</div>
