<div class="px-6 md:container md:mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 justify-center">
        <!-- about me-->
        <div class="columns-1 mx-2 shadow-lg">
            <div class="text-center border">
                <h2 class="font-bold">A propos</h2>
                <div class="flex justify-center items-center">
                    <img src="./assets/istockphoto-1300845620-612x612.jpg" alt="profil picture" width="128" height="128" class="rounded-full">
            </div>
            <p class="mb-4 px-4">Bienvenue sur mon portfolio bac-à-sable. Ici, vous trouverez : une implémentation d'accessibilité avec les boutons dark-mode et contrastes élevés, mon CV dans l'onglet resume en html CSS (pas encore responsive, mais ça va arriver), un début de liste des projets réalisés ... A venir : le détail des projets réalisés, le détail des points d'accessibilité en production sur ce site, des ressources et du code pour apprendre à rendre votre site web accessible, et mes futurs amusements en front et back end</p>

            </div>
        </div>
        <!-- featured project-->
        <div class="columns-1 border mx-2 shadow-lg">
            <div class="text-center">
                <h2 class="font-bold">Featured Project</h2>
                <div class="flex justify-center items-center">
                    <img src="./assets/istockphoto-1300845620-612x612.jpg" alt="profil picture" width="128" height="128" class="rounded-full">
            </div>
            <h3>{{featuredProject.name}}</h3>
            </div>
        </div>
    </div>
</div>
