<div class="px-6 md:container md:mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 justify-center">
        <!-- about me-->
        <div class="columns-1 mx-2 shadow-lg">
            <div class="text-center border">
                <h2 class="font-bold">About me</h2>
                <div class="flex justify-center items-center">
                    <img src="./assets/istockphoto-1300845620-612x612.jpg" alt="profil picture" width="128" height="128" class="rounded-full">
            </div>
            <p class="mb-4 px-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

            </div>
        </div>
        <!-- featured project-->
        <div class="columns-1 border mx-2 shadow-lg">
            <div class="text-center">
                <h2 class="font-bold">Featured Project</h2>
                <div class="flex justify-center items-center">
                    <img src="./assets/istockphoto-1300845620-612x612.jpg" alt="profil picture" width="128" height="128" class="rounded-full">
            </div>
            <h3>{{featuredProject.name}}</h3>
            </div>
        </div>
    </div>
</div>
